html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background: #E6E2D8;
}

#left {
  height: 100%;
  width: 20%;
  background: #BDD99A;
  float: left;
  overflow: hidden;
}

.list-sel {
  background: #D7EBC5;
}

#main {
  float: left;
  width: 80%;
  height: 100%;
  white-space:pre;
}

code {
  padding: 0px 0px 0px 4px;
  margin: 0px;
  font-family: Consolas;
}

.text-num {
  width: 20px;
  color: #7c8577;
  display: inline-block;
  text-align: right;
}
.code-sel {
  color: #fff;
  background: #000;
}
#status {
  text-align: center;
  color: #fff;
  background: #000;
  width: 100px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999;
}
